.image {
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/desktop.png');
}

/* Tablet View */
@media (max-width: 768px) {
    .image {
        background-image: url('../../assets/tab.png');
        padding: 40px;
        background-position: center;
    }

    .tab {
        display: flex;
        gap: 200px; 
    }

    .menu {
        font-size: 20px; 
    }

    .teck {
        font-size: 30px;
        margin-left: -10px;
    }

    .login {
        font-size: 20px; 
    }
}

/* Mobile View */
@media (max-width: 360px) {
    .image {
        background-image: url('../../assets/mobile.png');
        padding: 0;
        top: 0;
        background-size: 360px auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 34px;
    }
}
